* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
}

.modal-fixed {
  z-index: 1000;
  max-width: 460px;
  width: 50vw;
  height: auto;
  max-height: 50vh;
  position: fixed;
  left: 5%;
  top: 20px;
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  padding: 20px;
  color: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}
